#game-board {
   font-size: 0;
    position: relative;
    margin: 0 auto;
    border: solid black 1px;
}

.square {
	display: inline-block;
	border: solid black 0px;
	box-sizing: border-box;
}

.square:hover {
	background-color: yellow;
}

#reset-button {
	background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    margin: 0 auto;
    display: block;
}

header {
    text-align: center;
}