#game-board {
    margin: 20px auto;
	border-radius: 4px;
	text-align: center;
	padding: 15px 20px;
	position: relative;
}

.square {
    /* height: 25px;
    width: 25px;
    background-color: #fff; */
	display: inline-block;
	border: solid black 3px;
	margin-bottom: -6px;
	margin-left: -4px;
}

.square:hover {
	background-color: yellow;
}

#reset-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    left: 30%;
    right: auto;
    top: 26%;
    text-align: center;
    position: relative;
    
}

header {
    text-align: center;
}
  


