#main-container {
	width: 255px;
	height: 300px;
	background-color: #0849b2;
	padding: 10px 10px 10px 10px;
	position: relative;
    margin: 10px auto;
}
#digit-container {
	width: 174px;
	float:left;

}

#operator-container {   
	margin-left: 5px;
}

button {
	border: 2px solid red;
	color: #000;
	background-color: #fff;
	height: 40px;
	width: 55px;
	padding: 0px 25px 25px 1px;
	font-weight: bold;
}

#output-box {
	height: 50px; 
	width: 233px;
	text-align: right;
	margin-bottom: 50px;
	font-size: 25px;
}